<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg - %X%n</pattern>
        </encoder>
    </appender>
    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.instaclustr.instarepair" level="INFO" />
</configuration>
